@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shipping-tag {
    @apply rounded-sm text-0.8rem font-bold bg-drakGray text-white px-2;
  }
  .main-title {
    @apply text-1.5rem;
  }
}

@layer utilities {
  .text-overflow {
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .filter {
    clip-path: polygon(
      50% 0%,
      100% 0,
      60% 48%,
      60% 100%,
      37% 86%,
      37% 48%,
      0 0
    );
    @apply bg-red;
  }
  .a::before {
    content: '';
    position: absolute;
    width: calc(100% / 4 - 0.5rem);
    height: 0.25rem;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
  }
}
html .swiper-button-next,
html .swiper-button-prev {
  top: 0;
  bottom: auto;
  left: auto;
  right: 0.5rem;
  transform: translateY(-3rem);
  width: 2.6rem;
}
html .swiper-button-prev {
  right: 3.625rem;
}

html .swiper-button-next::after,
html .swiper-button-prev::after {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
  background-color: #4f4f55;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media screen and (min-width:1000px){
  html{
    font-size:22px;
  }
}