@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shipping-tag {
    @apply rounded-sm text-0.8rem font-bold bg-drakGray text-white px-2;
  }
  .main-title {
    @apply text-1.5rem;
  }
}

@layer utilities {
  .text-overflow {
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
}
